@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=New+Amsterdam&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body {
    margin: 0;
}

header {
    position: relative;
    min-height: 150px;
    margin: 0;
    background-color: #e6e6e6;
}

.logo {
    height: 150px;
    display: inline;
    float: left;
}

.nav {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.nav ul {
    list-style-type: none;
    display: inline-block;
}

.nav ul li {
    display: inline-block;
    padding: 3px 20px;
}

.nav ul a,.nav ul a:visited {
    font-size: 30px;
    font-family: "New Amsterdam", sans-serif;
    text-decoration: none;
    color: black;
}

.nav ul a:hover {
    color: #cb2b2b;
    background-color: #fff;
}

#mobile-menu {
    display: none;
}

.home-content {
    text-align: center;
}

h1, h2 {
    font-family: "New Amsterdam", sans-serif;
}

p {
    font-family: "Zalando Sans", sans-serif;
}

h1 {
    font-size: 48px;
}

.banner {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #cb2b2b;
}

.banner img,.banner .banner-text {
    display: inline-block;
    width: 50%;
}

.banner-text {
    text-align: center;
    color: #fff;
}

.banner-text h1,.banner-text p {
    margin: 0;
}

.home-content h2 {
    font-size: 30px;
    margin-bottom: 0;
}

.home-content p {
    margin-top: 0;
}

.contact-us {
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.contact-us a {
    text-decoration: none;
    font-family: "New Amsterdam", sans-serif;
    font-size: 40px;
    color: #fff;
    background-color: #f7931e;
    padding: 20px;
    text-align: center;
    border-radius: 50%;
}

footer {
    /* min-height: 150px; */
    background-color: #e6e6e6;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    padding: 10px;
}

footer p {
    font-size: 10px;
    margin: 0 0 0 10px;
    /* padding: 5px; */
}